<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Title</title>
</head>
<body>
<h1>Peer to Peer Chat program</h1>
<table>
    <form action="/enter">
        <tr>
            <td>Your username:</td>
            <td><input name="Username" type="text" th:value="${username}"/></td>
            <td><input type="submit" value="Update"/></td>
        </tr>
    </form>
</table>
<ul>
    <li>App</li>
    Hi there! Submit your message using the send button!
</ul>
<ul th:each="message : ${messages}">
    <li th:text="${message.username}"></li>
    <span th:text="${message.newMessage}"></span>
</ul>
<form th:action="@{/send}" method="post">
    <textarea name="messages" rows="8" cols="40">
        Enter your message!
    </textarea>
    <input type="submit" value="Send"/>
</form>
</body>
</html>